/* Landing Page */

header {
  background-color: #814256;
  color: #eccc6e;
  padding: 20px;
}
header h1 {
  margin: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav a {
  color: #eccc6e;
  text-decoration: none;
  margin-right: 20px;
}
.hero {
  background-color: #eccc6e;
  padding: 20px 0px 10px 20px;
  text-align: center;
  color: #814256
}
.about {
  padding: 30px;
  background-color: #4b9aaa;
  color: #814256;
}
.features {
  padding: 75px;
  background-color: #7e8f7c;
  color: #814256;
}
.call-to-action {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer {
  background-color: #814256;
  color: #eccc6e;
  padding: 20px;
  text-align: center;
}

/*********************************************************************/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
  text-shadow: -2px -2px -2px #f9f9f9;
}

/* .header {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
} */

.main {
	padding: 50px 20px;
	background-color: #eccc6e;
  box-shadow: 0px 0px 10px 0px #eccc6e;
  color: #814256

}

.container {
	max-width: 600px;
	margin: 0 auto;
}

/* h1 {
	font-size: 2rem;
	margin-bottom: 30px;
} */

.form-group {
	margin-bottom: 30px;
}

label {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: 600;
	color: #eccc6e;
}

input {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #eccc6e;
	font-size: 1rem;
}

input[type="submit"] {
	background-color: #eccc6e;
	color: #eccc6e;
	font-size: 1.2rem;
	padding: 10px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #5a6268;
}

.footer {
	background-color: #814256;
	color: #eccc6e;
	padding: 20px;
}

.footer p {
	margin: 0;
	font-size: 1rem;
}

@media (min-width: 768px) {
	.main {
		padding: 80px;
	}
	
	/* h1 {
		font-size: 2.5rem;
		margin-bottom: 40px;
	} */
	
	.container {
		max-width: 800px;
	}
}

/* User profile form page styles */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #EA99A2;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #4b9aaa;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px #eccc6e;
}

/* input[type="submit"],
button {
  background-color: #0077cc;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
} */

/* input[type="submit"]:hover,
button:hover {
  background-color: #005fa3;
} */

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eccc6e;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

/* .list-item:last-child {
  margin-bottom: 0;
}

.list-item-remove {
  color: #cc0000;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.list-item-remove:hover {
  color: #990000;
} */

/* User profile picture upload styles */
.user-picture-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.userPicture {
  padding: 20px;
  background-color: #4b9aaa;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/* .user-picture-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-picture-form input[type="file"] {
  margin-bottom: 20px;
}

.user-picture-form button[type="submit"] {
  background-color: #5764c6;
}

.user-picture-form button[type="submit"]:hover {
  background-color: #4e5abb;
} */

/* .user-picture-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
} */

/* .user-picture-container img {
  max-width: 100%;
  border-radius: 5px;
} */


/* __________=============   */

.tag-selector {
  display: flex;
  flex-direction: row;
}

.available-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 16px;
  padding: 1%;
  min-width: 150px;
}

.tag {
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 1%;
  background-color: #e8e0e0;
  border-radius: 4px;
  cursor: pointer;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 1%;
  min-width: 150px;
}

.selected {
  background-color: skyblue;
  color: white;
}

/* Additional styles for the TagSelector component */
.tag-selector .available-tags .tag:hover {
  background-color: #e0e0e0;
}

.tag-selector .selected-tags .tag:hover {
  background-color: steelblue;
}

.tag-selector .selected-tags .tag {
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 1%;
  background-color: skyblue;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
